header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  .logo {
    width: 20%;
    height: auto;
  }
  .bg-flodi {
    background-color: #ffd3ff;
  }
  
  .socials {
    display: flex;
  }
  
  .socials a {
    padding: 10px;
  }
  
  .logo-container {
    width: 7%;
  }
  
  @media only screen and (max-width: 992px) {
    .socials {
      display: none;
    }
  }
  
  .logo-container img {
    width: 100%;
    height: auto;
  }