.formularioF {
    margin-top: 10%;
  }
  .formularioFlodi {
    text-align: center;
    font-size: 150%;
    font-family: Dancing Script;
  }
  
  .formularioM {
    width: 50%;
  }
  
  .Mflex {
    display: flex;
  }
  /*Main*/
  .flexInstagram {
    display: flex;
  }
  .imagenInstagram {
    width: 50%;
  }