.formularioF {
    margin-top: 10%;
  }
  .formularioFlodi {
    text-align: center;
    font-size: 150%;
    font-family: 'Amatic SC', cursive;
  }
  
  .formularioM {
    width: 50%;
  }
  .formEmail {
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
  }
  .Mflex {
    display: flex;
  }
  /*Main*/
  .flexInstagram {
    display: flex;
  }
  .imagenInstagram {
    width: 50%;
  }