.trabajosFlodi {
    display: flex ;
}

.banerTrabajos {
    width: 100%;
}

.misTrabajos {
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Amatic SC', cursive;
    color: gray;
    font-size: 130%;
}
