@media only screen and (max-width: 440px) {
    .presentacion {
        font-size: 50%;
    }
    .footerPrincipal {
        font-size: 25%;
    }
    .mapaFooter {
        height: 60%;
    }
    .formularioFlodi {
        margin-top: 20%;
        font-size: 70%;
    }
    }